.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.card_ctnr {
  width: 50%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: aliceblue;
  padding: 20px;
}

.card img {
  position: relative;
  transition: 0.2s ease-in-out;
}

.card img:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}
