header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 20px;
  background-color: #018749;
}

#home,
#profile {
  width: 40px;
  height: 40px;
  color: #e1e1e1;
  transition: 0.2s ease-in-out;
}

#profile:hover {
  color: #094004;
  cursor: pointer;
  transform: scale(1.1);
}

#home:hover {
  color: #094004;
  cursor: pointer;
  transform: scale(1.1);
}
